@{
    ViewBag.Title = "Canteen menu - About";
}
<h1 id="about">@ViewBag.Title.</h1>
<h2>schedue</h2>
<ul>
    <li>E - N 8:00 - 17:00</li>
    <li>R     8:00 - 16:00</li>
</ul>
<p>Talinna Tööstushariduskeskus</p>

<p>with a student card or tolons you can get a free lunch, you have to pay for everything else</p>
