
<h1>Canteen Menu</h1>
<div class="jumbotron">
    <img src="~/img/drawing.png" id="logo" />
    <p class="lead">Canteen menu today</p>
    <button id="menu"> @Html.ActionLink("Menu", "Menus1", "Home")</button>
    <br />
    <br />
    <button id="tahvel">
        <a href="https://tahvel.edu.ee">Tahvel</a>
    </button> <a></a>
    <button id="tthk">
        <a href="https://tthk.ee">Kool</a>
    </button>
</div>

<div class="row">
   
</div>
