@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Canteen Menu</h1>
    <p class="lead">Canteen menu today</p>
    <p class="buttons1"> @Html.ActionLink("Menu", "Menus1", "Home") </p>
    <br />
    <p>@Html.ActionLink("About", "About", "Home")</p>
    <br />

</div>

<div class="row">

</div>